/* font-family: "Europe-Bold"; */

@font-face {
	font-family: "Europe-Bold";
	src: url("../fonts/Europe-Bold/Europe-Bold.eot");
	src: url("../fonts/Europe-Bold/Europe-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Europe-Bold/Europe-Bold.woff") format("woff"),
	url("../fonts/Europe-Bold/Europe-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "Europe-Normal"; */

@font-face {
	font-family: "Europe-Normal";
	src: url("../fonts/Europe-Normal/Europe-Normal.eot");
	src: url("../fonts/Europe-Normal/Europe-Normal.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Europe-Normal/Europe-Normal.woff") format("woff"),
	url("../fonts/Europe-Normal/Europe-Normal.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PFDinTextPro-Regular"; */

@font-face {
	font-family: "PFDinTextPro-Regular";
	src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.eot");
	src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.woff") format("woff"),
	url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PFDinTextPro-Bold"; */

@font-face {
	font-family: "PFDinTextPro-Bold";
	src: url("../fonts/PFDinTextPro-Bold/PFDinTextPro-Bold.eot");
	src: url("../fonts/PFDinTextPro-Bold/PFDinTextPro-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Bold/PFDinTextPro-Bold.woff") format("woff"),
	url("../fonts/PFDinTextPro-Bold/PFDinTextPro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}