body {
	font-size: 12px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
}

#layout-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

#left-wrapper {
	border-right: 23px solid #3b5160;
	height: 100%;
	float: left;
	background-color: #506878;
	width: 20%;
	position: relative;
}

.logo {
	padding-top: 31px;
	text-align: center;
}

.logo img {
	width: 130px;
	height: 130px;
}

.menu-wrapper {
	border-right: 5px solid #e88d21;
}

.main-menu-wrapper {
	background-color: #485d6c;
	width: 90%;
	height: 325px;
	margin: 50px auto;
}

.main-menu {
	position: absolute;
	width: 98%;
	padding-left: 13px;
}

.main-menu ul {
	list-style-type: none;
	text-transform: uppercase;
	text-align: right;
	padding: 0;
}

.main-menu li {
	display: block;
	line-height: 15px;
	cursor: pointer;
}

.menu-border div {
	display: inline-block;
}

.menu-border {
	padding-right: 35px;
}

.menu-border .container, .header .container, .video-block .container, .text-content .container {
	width: 100%;
	padding: 0;
}

.menu-border .row, .header .row, .video-block .row {
	padding: 5px 0 0 0;
}

.header .row, .video-block .row, .text-content .row {
	display: block;
	margin: 0;
}

.video-block .row {
	margin: 0 20px;
}

.main-menu a {
	color: #fff;
	font-family: "Europe-Normal";
	padding: 0;
	margin: 0;
}

.text-menu {
	width: 100px;
	padding: 3px 0;
}

.icon-2, .icon-3, .icon-6, .icon-7 {
	top: 9px;
}

.icon-4 {
	top: 5px;
}

.menu-border i {
	font-size: 16px;
	color: #a8b4bc;
}

.main-menu li:hover {
	background-color: rgba(0,0,0,.2);
}

.number-phone {
	color: #fff;
	font-family: "Europe-Bold";
	font-size: 20px;
	text-align: center;
}
.time {
	color: #fff;
	font-family: "Europe-Normal";
	text-align: center;
}

.icon-connect {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 26px;
}

.icon-connect img {
	padding: 0 3px;
}

#right-wrapper {
	height: 100%;
	float: right;
	width: 80%;
}

.header {
	margin: 15px 0 0 65px;
}

.production {
	width: 20%;
	padding: 0;
}

.quality, .attestation, .supply {
	margin-right: 15px;
	width: 25%;
}

.production div, .quality div, .attestation div, .supply div {
	padding: 0;
	margin: 0;
}

.production img, .quality img, .attestation img, .supply img {
	float: right;
}

.production p, .quality p, .attestation p, .supply p {
	float: left;
	font-family: "PFDinTextPro-Regular";
	font-size: 14px;
	text-transform: uppercase;
	width: 180px;
	padding-left: 15px;
}

.basket-plus, .video img {
	position: absolute;
}

.video img {
	margin-left: 265px;
}

.video-block {
	padding-left: 38px;
}

.video {
	padding: 0;
}

.video-content {
	display: block;
	margin-top: 20px;
}

.info-content {
	width: 72%;
}

.price {
	background-color: #506878;
	display: block;
	height: 77px;
	margin: 5px 0 0 40px;
	padding: 0;
	width: 95%;
}
.price-text {
	padding: 0;
}

.price-text p {
	color: #fff;
	font-family: "PFDinTextPro-Regular";
	font-size: 13px;
	margin: 0 auto;
	padding: 19px 0 0 25px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	width: 270px;
}

.form-input, .btn-set {
	margin: 18px auto;
	padding: 0;
}

.form-input {
	width: 200px;
}

.form-text {
	background-color: #dce1e4;
	border: 1px solid #616566;
	color: #696d70;
	font-family: "PFDinTextPro-Regular";
	height: 40px;
	padding: 0 0 0 10px;
	width: 190px;
}

.btn {
	border: 0;
	background-color: #e88d21;
	color: #fff;
	height: 40px;
	padding-left: 10px;
	text-transform: uppercase;
	width: 190px;
}

.btn button {
	padding-left: 10px;
}

.text-content-info {
	margin: 45px 0 0 40px;
	width: 95%;
}

.text-content-info p:nth-child(1) {
	color: #3b5160;
	font-family: "PFDinTextPro-Regular";
	font-size: 14px;
	text-transform: uppercase;
}

.text-content-info p:nth-child(1) span {
	font-family: "PFDinTextPro-Bold";
}

.text-content-info p:nth-child(2) {
	color: #54575a;
	font-family: "PFDinTextPro-Regular";
	font-size: 13px;
	line-height: 1.2;
}

.download-info {
	display: inline;
	padding: 0;
	width: 90%;
}

.download-info div {
	cursor: pointer;
	padding: 0;
}

.download-info img {
	text-align: right;
	position: absolute;
}

.btn-1 img {
	margin: 8px 0 0 240px;
}

.btn-2 img, .btn-3 img {
	margin: 8px 0 0 150px;
}

.btn-1 {
	margin: 30px 0 0 39px;
	width: 310px;
}

.btn-2, .btn-3 {
	margin: 30px 0 0 0;
	width: 220px;
}

.download-info button {
	border: 0;
	font-family: "PFDinTextPro-Regular";
	font-size: 13px;
	height: 55px;
	padding: 0 6px 0 20px;
	text-align: left;
}

.btn-1 button {
	width: 300px;
}

.btn-2 button {
	width: 200px;
}

.btn-3 button {
	width: 200px;
}

.info-nomenclature {
	margin: 5px 0;
	padding: 0 18px 0 27px;
}

.nomenclature {
	display: block;
	border-top: 10px solid #e88d21;
}
.text-nomenclature {
	color: #3b5160;
	margin: 10px 30px;
}

.colunm-1, .colunm-2 {
	margin: 0 29px;
	padding: 0;
}
